<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="messageLocation" value="C:\Users\benco\Documents\Visual Studio 2015\Projects\Facebook-Messenger-Export\Facebook-Messenger-Export\test.html"/>
  </appSettings>
</configuration>